* {
    box-sizing: border-box; /* Inclui padding e border na largura e altura total */
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 100px); /* 7 dias por linha */
    grid-gap: 10px;
    margin: 20px auto;
    width: max-content;
}

.day {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.day.green {
    background-color: lightgreen;
}

.day.red {
    background-color: lightcoral;
}
@media (max-width: 600px) {
    /* Estilos que serão aplicados em telas menores que 600px */
    
    body {
        font-size: 14px; /* Tamanho da fonte menor para dispositivos móveis */
    }

    table {
        font-size: 12px; /* Tamanho da fonte das tabelas para dispositivos móveis */
        width: 100%; /* Garante que a tabela ocupe toda a largura da tela */
    }

    td {
        padding: 5px; /* Reduz o preenchimento nas células da tabela */
    }

    input[type="date"],
    select {
        width: 100%; /* Garante que os inputs ocupem toda a largura da tela */
        padding: 8px; /* Espaçamento interno */
    }

    button {
        width: 100%; /* Botão ocupa toda a largura da tela */
        padding: 10px; /* Espaçamento interno do botão */
    }
}
