body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 100px); /* 7 dias por linha */
    grid-gap: 10px;
    margin: 20px auto;
    width: max-content;
}

.day {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.day.green {
    background-color: lightgreen;
}

.day.red {
    background-color: lightcoral;
}
